{
  "server": "example.com:{{ hysteria_port }}",
  "protocol": "wechat-video",
  "obfs": "{{ hysteria_secret }}",
  "up_mbps": 100,
  "down_mbps": 100,
  "socks5": {
    "listen": "127.0.0.1:7080"
  },
  "alpn": "Envoy",
  "ca": "rootCA.pem"
}
