[Unit]
Description=A TCP/UDP relay & SOCKS5/HTTP proxy tool optimized for poor network environments
After=network.target nss-lookup.target

[Service]
User=hysteria
Group=hysteria
Type=simple
PIDFile=/run/hysteria.pid
WorkingDirectory={{ hysteria_dir }}
Environment=LOGGING_LEVEL=error
ExecStart=/usr/local/bin/hysteria -c /etc/hysteria.json server
KillMode=mixed

[Install]
WantedBy=multi-user.target