{
  "cert": "{{ hysteria_dir }}/hysteria.crt",
  "key": "{{ hysteria_dir }}/hysteria.key",
  "listen": ":{{ hysteria_port }}",
  "protocol": "wechat-video",
  "obfs": "{{ hysteria_secret }}",
  "up_mbps": 100,
  "down_mbps": 100,
  "acl": "{{ hysteria_dir }}/hysteria.acl",
  "alpn": "Envoy"
}
