{
  "log": {
    "loglevel": "debug" // set to debug for more console output
  },
  "inbounds": [
    {
      "port": 9988, // Listening port
      "protocol": "socks", // Incoming protocol is SOCKS 5
      "settings": {
        "auth": "noauth"  // Authorisation setting of socks protocol. Here, noauth means no authorisation, beacuse in general socks only used in client side, so no need to authorise.
      }
    }
  ],
  "outbounds": [
    {
      "protocol": "vmess", // Outcoming protocol
      "settings": {
        "vnext": [
          {
            "address": "{{ wechat_host }}", // Server address, yoou need to edit this to your own IP address/domian. 
            "port": {{ wechat_port }},  // Server listenning port.
            "users": [
              {
                "id": "{{ v2ray_id }}",  // UUID, must be as same as server side
                "alterId": 0 // AlterID should be as same as server side
              }
            ]
          }
        ]
      },
      "streamSettings": {
        "network": "quic",
        "quicSettings": {
          "security": "aes-128-gcm",
          "header": {
            "type": "wechat-video"
          },
          "key": "0"
        }
      }
    }
  ]
}