{
  "log": {
    "loglevel": "debug"
  },
  "inbounds": [
    {
      "port": 9988, // Listening port
      "protocol": "socks", // Incoming protocol is SOCKS 5
      "sniffing": {
        "enabled": true,
        "destOverride": ["http", "tls"]
      },
      "settings": {
        "auth": "noauth"  // Authorisation setting of socks protocol. Here, noauth means no authorisation, beacuse in general socks only used in client side, so no need to authorise.
      }
    }
  ],
  "outbounds": [
    {
      "protocol": "vmess",
      "settings": {
        "vnext": [
          {
            "address": "{{ websocket_cdn_host }}",
            "port": 443,
            "users": [
              {
                "id": "{{ v2ray_id }}",
                "alterId": 0
              }
            ]
          }
        ]
      },
      "streamSettings": {
        "network": "ws",
        "security": "tls",
        "tlsSettings": {
          "allowInsecure": true, // disable for real certs
          "serverName": null
        },
        "wsSettings": {
          "path": "{{ websocket_path }}"
        }
      }
    }
  ]
}