//
// alterId should always be 0 now:
// https://github.com/v2fly/v2ray-core/issues/1810
// google translate:
// https://github-com.translate.goog/v2fly/v2ray-core/issues?_x_tr_sl=auto&_x_tr_tl=en&_x_tr_hl=en&_x_tr_pto=op,wapp

{
  "log": {
    // log to stdout/journalctl
    // "access": "/home/scm/log/v2ray/access.log",
    // "error": "/home/scm/log/v2ray/error.log",
    "loglevel": "error"
  },
  "inbounds": [
    // plain VMess
    //
    // this tutorial https://privacymelon.com/how-to-install-vless-xtls-xray-core/
    // says that plain vmess is easily detected by DPI, so we won't use it

    // {
    //   "port": 10001, // Server listening port
    //   "protocol": "vmess",    // Major incoming protocol
    //   "settings": {
    //     "clients": [
    //       {
    //         "id": "a8f58e1a-155d-44b5-9997-eac4b666ae6b",  // UUID, must to be kept the same between server and client.
    //         "alterId": 0
    //       }
    //     ]
    //   }
    // },

    // websocket
    // this assumes HTTPS is handled upstream by, e.g. nginx, Cloudflare, etc.
    // websocket needs alterId set to 0
    {
      "port": {{ websocket_port }},
      "listen":"127.0.0.1",// Only listen to local host 127.0.0.1, avoiding other external inspection to 10000 port 
      "protocol": "vmess",
      "settings": {
        "clients": [
          {
            "id": "{{ v2ray_id }}",
            "alterId": 0
          }
        ]
      },
      "streamSettings": {
        "network": "ws",
        "wsSettings": {
        "path": "{{ websocket_path }}"
        }
      }
    },
    // QUIC SRTP
    {
      "port": {{ srtp_port }},
      "protocol": "vmess",
      "settings": {
        "clients": [
          {
            "id": "{{ v2ray_id }}",  // UUID, must to be kept the same between server and client.
            "alterId": 0
          }
        ]
      },
      "streamSettings": {
        "network": "quic",
        "quicSettings": {
          "security": "aes-128-gcm",
          "header": {
            "type": "srtp"
          },
          "key": "0"
        }
      }
    },
    // QUIC wechat-video
    {
      "port": {{ wechat_port }},
      "protocol": "vmess",
      "settings": {
        "clients": [
          {
            "id": "{{ v2ray_id }}",  // UUID, must to be kept the same between server and client.
            "alterId": 0
          }
        ]
      },
      "streamSettings": {
        "network": "quic",
        "quicSettings": {
          "security": "aes-128-gcm",
          "header": {
            "type": "wechat-video"
          },
          "key": "0"
        }
      }
    }
  ],
  "outbounds": [
    // first outbound is the default, block by default, then allow access
    // to wikipedia/wikimedia domains
    {
      "protocol": "blackhole",
      "tag": "block",
      "settings": {}
    },
    {
      "protocol": "freedom",
      "tag": "allow",
      "settings": {}
    }
  ],
  "routing": {
    "domainStrategy": "AsIs",
    "rules": [
      {
        "domain": [
          "wikipedia.org",
          "wikimeida.org",
          // envoy makes a request to https://www.google.com/generate_204
          // to test the connection
          "google.com"
        ],
        "type": "field",
        "outboundTag": "allow"
      }
    ]
  }
}