[Unit]
Description=DNS based transport for censorship evasion
After=network.target nss-lookup.target

[Service]
User=dnstt
Group=dnstt
Type=simple
PIDFile=/run/dnstt.pid
AmbientCapabilities=CAP_NET_BIND_SERVICE

WorkingDirectory=/usr/local/envoy/dnstt
ExecStart=/usr/local/bin/dnstt-server -udp :53 -privkey-file server.key {{ tunnel_domain }} 127.0.0.1:8080

[Install]
WantedBy=multi-user.target
