# this logging is useful for debugging
# also set the error_log to something lower than `emerg`, like `warn` for debugging
log_format dnstt_my_upstream '$proxy_protocol_addr - $remote_user [$time_local] '
                             '"$request" $status $body_bytes_sent '
                             '"$http_referer" "$http_user_agent" "$http_host" "$http_url_orig" "$http_host_orig"';

# HTTP requests to this virtual server should only come via the
# DNSTT server, so the logging shouldn't contain any sensative 
# client information

server {
    listen 127.0.0.1:8080;
    listen [::1]:8080;

    server_name 127.0.0.1 localhost;

    access_log /var/log/nginx/access.log dnstt_my_upstream;
    error_log /var/log/nginx/error.log emerg;

    location / {
        root {{ dnstt_docroot_dir }};
    }
}
